.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input {
  flex: 1;
}

.submit {
  width: 100%;
}

.errorText {
  font-size: 0.875rem;
  color: var(--color-danger);
  margin-top: 0.25rem;
}
