name: Deploy Database Migrations

# 触发条件：当代码推送到 main 分支
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    # 将我们在 GitHub 后台设置的密码提取到环境变量中
    env:
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}

    steps:
      # 1. 检出你的代码
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. 安装 Supabase CLI
      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      # 3. 连接远程项目并推送 Migration 脚本 
      - name: Push Database Migrations
        env:
          # 确保这里的变量名和 GitHub Settings 里的完全一致！
           SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}'
        run: |
          supabase link --project-ref "$SUPABASE_PROJECT_ID" --password "$SUPABASE_DB_PASSWORD"
<<<<<<< HEAD
          supabase db push --password 'AbETZ9g6ZBSu1EPo'
=======
          supabase db push --password 'AbETZ9g6ZBSu1EPo'
>>>>>>> 1d256a2cfc2c7915b22fc2bc402a3cfc52562553
